

#ap-de\\.communardo\\.confluence\\.plugins\\.subspace__subspace-navigation-view-panel {
    position: fixed !important;
    top: 0 !important;
    z-index: 1 !important;
    width: 100% !important;
}

#ap-de.communardo.confluence.plugins.subspace__subspace-navigation-view-panel {
    position: fixed !important;
    top: 0 !important;
    z-index: 1 !important;
    width: 100% !important;
}



#title-text {
    padding-top: 140px !important;
    margin-left: -28px;


}

#content {

    margin-left: -28px;
    width: calc(100% + 58px);
highlighter-context page view

}

div[data-test-id="app-navigation-search"] {
    z-index: 999 !important;
}

div[data-test-id="search-dialog-input"] {
    z-index: 999 !important;
}

#communardo-subspace-navigation-bar {
    display: none !important;
}


#embedded-de.communardo.confluence.plugins.subspace__subspace-navigation-view-panel {
    display: none !important;
}

#de.communardo.confluence.plugins.subspace__subspace-navigation-view-panel__30fc9cb0 {
    display: none !important;
}

.wrapper-space-home-page {
    margin-top: -100px !important;
}


.ak-renderer-extension {
    margin-top: 0px !important;
}

#wwdc-button {
    display: none;
}

/* Hide left sidebar in Confluence Cloud 
#AkSideNavigation {
    display: none !important;
}
*/

/* Hide Jira sidebar 
._kqswh2mm, ._1pbyg9ti, ._14c1glyw {
    display: none !important;
}

/* Hide Jira sidebar 
.css-1cqfw1x {
    display: none !important;
}

/* Hide Jira sidebar 
._1pbyg9ti {
    display: none !important;
}

/* Hide Jira sidebar 
._14c1glyw {
    display: none !important;
}


div[data-test-id="ContextualNavigation"] {
    display: none !important;
}

div[data-ds--page-layout--slot="left-sidebar"] {
    display: none !important;
}

/* Hide Jira left sidebar 
#jira-frontend, .ghx-navigation {
    margin-left: 0 
}

:root {
    --leftSidebarWidth:0px !important;
}


:root {
    --leftSidebarWidth:0px !important;
}


#ak-side-navigation {
    display: none !important;
}

*/




#ak-side-navigation {
    display: none !important;
}


.ak-renderer-extension-overflow-container {
    overflow-y: scroll !important;
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
}


.ak-renderer-extension-overflow-container::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

.skpmacro {
    margin-top: 14px !important;
}





 /*
.css-pddbfj {
    z-index: 999999999 !important;
}

.em6wsuj6 {
    z-index: 99999999999 !important;
}

.css-vtikxo {
    visibility: hidden !important;
}

.css-1nc30jc {
    display: none !important;
}

*/

div[title="Live Search Macro"] {
    height: 35px !important;
}

.search-macro-button {
    display: none;
}

.TOCFixed {
    position: fixed !important;
    top: 100px !important;
    left: 25px !important;
    height: 100vh !important;
    width: 30%;
    /* Adjust this value based on your layout */
    overflow-y: auto !important;
}

/* Matches elements where data-outline is a single number (e.g., "1", "2", etc.) */
.TOCFixed [data-outline]:not([data-outline*="."]) span span {
    font-size: 1.4em !important;
    font-weight: bold !important;
    color: #34454f !important;
}

/* Matches elements where data-outline contains a "." (e.g., "1.1", "2.1", etc.) */
.TOCFixed [data-outline*="."] span span {
    font-size: 1.2em !important;
    font-weight: bold !important;
    color: #515b62 !important;
}



[data-testid="app-navigation-primary-people-people-primary-button"],
[data-testid="app-navigation-primary-apps-dropdown"],
[data-testid="app-navigation-create"],
[data-testid="app-navigation-primary-templates"],
[data-testid="app-navigation-home-logo"],
[data-testid="app-navigation-app-switcher"],
[data-testid="app-navigation-primary-spaces-dropdown"],
[data-testid="app-navigation-primary-pages-dropdown"],
[data-testid="app-navigation-primary-home"],
[data-testid="app-navigation-primary-custom-home"],
svg path[d="M8.292 10.293a1.009 1.009 0 000 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955a1.01 1.01 0 000-1.419.987.987 0 00-1.406 0l-2.298 2.317-2.307-2.327a.99.99 0 00-1.406 0z"] {
  display: none;
}




header[role="banner"] {
    color: rgb(255 255 255 / 0%);
  }




@media (max-width: 1024px) {
    .TOCFixed {
        display: none !important;
    }
}



div[data-testid="ak-editor-main-toolbar"] {
    z-index: 1 !important;
}


/* s
div[data-title="Live Search Macro"] {
    visibility: hidden !important;
    height: 90px !important;
}
*/



.buttonBoard {
    transform: translateY(-21px) !important;
    margin-right: calc( -69vw + 560px ) !important;
    margin-left: calc( 69vw - 690px ) !important;
}

.buttonC {
    margin-bottom: 20px !important;
}

@media screen and (max-width: 1023px) {
    .buttonBoard {
        transform: translateY(-21px) !important;
        margin-right: calc( -100vw + 560px ) !important;
        margin-left: calc( 100vw - 690px ) !important;
    }
  }