

#ap-de\\.communardo\\.confluence\\.plugins\\.subspace__subspace-navigation-view-panel {
    position: fixed !important;
    top: 0 !important;
    z-index: 1000 !important;
    width: 100% !important;
}

#ap-de.communardo.confluence.plugins.subspace__subspace-navigation-view-panel {
    position: fixed !important;
    top: 0 !important;
    z-index: 1000 !important;
    width: 100% !important;
}

/* hide top of confluence
div[data-test-id="with-sticky-header"] {
    display: none !important;
}
*/

div[data-test-id="app-navigation-search"] {
    z-index: 999999999999999999 !important;
}

div[data-test-id="search-dialog-input"] {
    z-index: 999999999999999999 !important;
}

#communardo-subspace-navigation-bar {
    display: none !important;
}


#embedded-de.communardo.confluence.plugins.subspace__subspace-navigation-view-panel {
    display: none !important;
}

#de.communardo.confluence.plugins.subspace__subspace-navigation-view-panel__30fc9cb0 {
    display: none !important;
}

.wrapper-space-home-page {
    margin-top: 80px !important;
}


.ak-renderer-extension {
    margin-top: 0px !important;
}

#wwdc-button {
    display: none;
}

/* Hide left sidebar in Confluence Cloud 
#AkSideNavigation {
    display: none !important;
}
*/

/* Hide Jira sidebar 
._kqswh2mm, ._1pbyg9ti, ._14c1glyw {
    display: none !important;
}

/* Hide Jira sidebar 
.css-1cqfw1x {
    display: none !important;
}

/* Hide Jira sidebar 
._1pbyg9ti {
    display: none !important;
}

/* Hide Jira sidebar 
._14c1glyw {
    display: none !important;
}


div[data-test-id="ContextualNavigation"] {
    display: none !important;
}

div[data-ds--page-layout--slot="left-sidebar"] {
    display: none !important;
}

/* Hide Jira left sidebar 
#jira-frontend, .ghx-navigation {
    margin-left: 0 
}

:root {
    --leftSidebarWidth:0px !important;
}


:root {
    --leftSidebarWidth:0px !important;
}


#ak-side-navigation {
    display: none !important;
}

*/




#ak-side-navigation {
    display: none !important;
}


.ak-renderer-extension-overflow-container {
    overflow-y: scroll !important;
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
}


.ak-renderer-extension-overflow-container::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

.skpmacro {
    margin-top: 14px !important;
}






.css-pddbfj {
    z-index: 999999999 !important;
}

.em6wsuj6 {
    z-index: 99999999999 !important;
}

.css-vtikxo {
    visibility: hidden !important;
}

.css-1nc30jc {
    display: none !important;
}


div[title="Live Search Macro"] {
    height: 35px !important;
}

.search-macro-button {
    display: none;
}

.TOCFixed {
    position: fixed !important;
    top: 100px !important;
    left: 25px !important;
    height: 100vh !important;
    width: 30%;
    /* Adjust this value based on your layout */
    overflow-y: auto !important;
}

/* Matches elements where data-outline is a single number (e.g., "1", "2", etc.) */
.TOCFixed [data-outline]:not([data-outline*="."]) span span {
    font-size: 1.4em !important;
    font-weight: bold !important;
    color: #34454f !important;
}

/* Matches elements where data-outline contains a "." (e.g., "1.1", "2.1", etc.) */
.TOCFixed [data-outline*="."] span span {
    font-size: 1.2em !important;
    font-weight: bold !important;
    color: #515b62 !important;
}


@media (max-width: 1024px) {
    .TOCFixed {
        display: none !important;
    }
}



div[data-testid="ak-editor-main-toolbar"] {
    z-index: 2500 !important;
}


/* s
div[data-title="Live Search Macro"] {
    visibility: hidden !important;
    height: 90px !important;
}
*/



.buttonBoard {
    transform: translateY(-21px) !important;
    margin-right: calc( -69vw + 560px ) !important;
    margin-left: calc( 69vw - 690px ) !important;
}

.buttonC {
    margin-bottom: 20px !important;
}

@media screen and (max-width: 1023px) {
    .buttonBoard {
        transform: translateY(-21px) !important;
        margin-right: calc( -100vw + 560px ) !important;
        margin-left: calc( 100vw - 690px ) !important;
    }
  }