


div[data-testid="title-wrapper"] {
    height: 65px !important;
    margin-top:-50px !important;
}

div[data-test-id="page-main-div"] {
    display: none !important;

}


div[data-testid="breadcrumb"] {
    display: none !important;
}



header[role="banner"] {
    background-color: rgb(255 255 255 / 0%);

  }
